td,
th {
  border-radius: 5px;
  text-align: center;
}
table {
  border-spacing: 5px;
}
table caption {
  font-weight: bold;
  font-size: 1.5em;
}
th {
  background-color: #b4c2cf;
}
.magistral {
  background-color: #bfbfbf;
}
.conf {
  background-color: #e5e6ff;
}
.taller {
  background-color: #9699fe;
}
.tutorial {
  background-color: #91cdff;
}
.general {
  background-color: #9792ca;
}
.informal {
  background-color: #cacbff:
}
td span {
  display: block;
}
.ponente {
  font-style: italic;
}
.event-type {
  font-size: 0.8em;
  font-style: italic;
}
